*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    font-family: 'Merriweather Sans', sans-serif;    font-size:15px ;
    font-size: 15px;
    font-weight: 400;
    overflow-x: hidden;
}
nav{
    
    display: flex;
    .navbar-title{
        text-align: center; 
        position:absolute;
        left: 220px;
    }
    h1{
        margin-top: 30px;
        font-size: 500;
        font-size: 32px;

    }
    .navbar-about{
        display: flex;
        position: absolute;
        right: 180px;
        text-align: center;
        >ul>li>ul>li{
            margin-top: 13px;
            &:hover {
                color: white;
            
        }
    }
       
        >ul{
            margin-top: 30px;
            // margin-left: 20px;
            position: relative;
            list-style-type:none;
        }
        li{

            color: rgb(99, 100, 101);
            transition: 1s;
           
            
            &:hover{
                color: black;
                cursor: pointer;
            }
           
        >ul{
            text-align: left;
            display: none;
            position: absolute;
            list-style-type:none;
            transition:  height 4s;
            background-color: black;
            padding: 0;
            border-radius: 5px;
            height: 150px;
            width: 150px;
            z-index: 5;
        }
        &:hover{
        
         ul{
            display: block;
            transition:3s;
            animation: drop 1s forwards;
            
        }
     }
    }
       
}
}

@keyframes drop {
    from {
        max-height: 0;
            }

    to {
        max-height: 150px;
        }
}

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
    display: none;
  position: absolute;
  height: 60px;
  width: 60px;
  top: 10%;
  right: 3%;
  z-index: 11;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: rgba(255,255,255,0.2);
  // background: green;
  // width: auto;
  // height: 50px;
  // overflow: hidden;
  &:hover {
    // .icon-1 {
    //   transform: rotate(40deg);
    // }
    // .icon-3 {
    //   transform: rotate(-40deg);
    // }
    // .icon-2 {
    //   opacity: 0;
    // }
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    // transform: scale(.3);
    opacity: 0;
  }
  
  100% {
    width: 20%;
    // transform:scale(1);
    opacity: 1;
  }
}

.sidebar {
  background: #0a0a0a;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
 
    transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
   transition-delay: 100ms;
  ul {
    margin: 0;
    position: absolute;
    top: 30%;
    li {
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;
     
    }
  }
}

 .sidebar.show {
  //  opacity: 0;
  // animation: slideIn 0.6s cubic-bezier(.62,.04,.3,1.56);
  // animation-fill-mode: forwards;
   width: 30%;
    // transform:scale(1);
   opacity: 1;
}

 @media only screen and (max-width:1190px) {
    nav>.navbar-about{
        display:none;
    }
    .hamburger-icon{
        display: block;
    }
 }

 #slider{
    position: relative;
    top: 100px;
    img{
        height: 600px;
    }
    .item p{
        position: absolute;
        bottom: 20px;
        color: white;
        left: 30px;
        font-size: 42px;
        z-index: 1;
    }
 }
 .work-header{
    margin: 40px 0px;
    color: rgb(77, 75, 75);
    h2{
    font-size: 42px;
    }
}

#work{
   position: relative;
   top: 100px;
}
.work-header-description{
    font-size: 20px;
    text-align: center;
    p{
        margin: 0px 260px;
    }
}

.work-carousel{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0px;
    img{
        width: 300px;
        height: 300px;
    }
    li{
        list-style: none;
        h3{
            margin: 20px 0px;
            cursor: pointer ;
        }
        p{
            color: grey;
        }
    }
}
#new-Testimonials{
    position: relative;
    top: 100px;
    font-size: 20px;
    h4{
        text-align: left;
    }
    button{
        background-color: rgb(19, 177, 19);
        width: 180px;
        height: 50px;
        opacity: 3;
        border-color:rgb(19, 177, 19) ;
        position: relative;
        top: 30px;
        span{
            color: green;
            &:hover{
                color: white;
            }
        }
    }
}
.new{
    display: flex;
    justify-content:space-between;
    .new-summary{
        width: 550px;
       h4{
        color: green;
        &:hover{
            color: black;   
        }
       }
    }
}
.new-Testimonials-leftright{
    font-style: italic;
    color: #504f4f;
    font-weight: 300;
    .summary{
        h4{
            width: 550px;
        }
    }
}
#sondan2{
    position: relative;
    top: 200px;
}
.planing{
    display: flex;
    .planing-item{
        display: flex;
        justify-content: space-evenly;
        p{
            color: gray;
        }
        a{
            color: green;
            text-decoration: none;
            &:hover{
                color: black;
            }        }
    }
    .icon{
        color: #504f4f;
        font-size: 42px;
        margin: 20px;
    }
}
footer{
    position: relative;
    top: 250px;
    background-color: #0a0a0a;
    color: #797777;
    li{
        list-style: none;
        color: green;
        padding: 0;
        &:hover{
            color: white;
        }
    }
    .footer-div{
        margin-top: 50px;
        p{
            width: 350px;
            
        }
    }
    .bitseydi{
        display: flex;
        justify-content: space-between;
    }
    button{
        background-color: green;
        width: 80px;
        height: 50px;
        color: white;
        position: relative;
        top:30px;
    }
    input{
        height: 50px;
        width: 280px;
    }
}